html{
    background-color: rgb(7, 17, 107);
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 8px;
    margin: 50px 60px 10px 60px;
    border: 2px rgb(153, 153, 153) solid;
    background-image: linear-gradient(to bottom right, rgb(13, 30, 175), rgb(13, 30, 175) 60%, rgb(0, 0, 0));
    align-content: center;
    height: 100%;
    max-height: 1200px;
    text-align: center;
    
}
.paragraph, p{
    display: flex;
    justify-content: space-between;
    background:rgba(23,23,12,0.0001);
    color: black;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}
.heading{
    font-weight: bolder;
    font-size: xx-large;
}
.image{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
}